@tailwind base;
@tailwind components;
@tailwind utilities;

mux-player {
  --controls: none;
  --media-object-fit: cover;

  position: absolute;
  inset: 0;
  z-index: 0;
}

::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  @apply h-screen overflow-hidden;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}